/* NAVBAR STYLES */

.nav-container {
    height: 75px;
    background-color: #0492c2;
    border-style: solid;
    border-width: 3px;
    border-color: #c3c3c3;
}

#nav-title {
    float: left;
    margin: 15px;
    margin-top: 20px;
    color: #28231d;
}

#nav-title-btn-wrap {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

#nav-title:hover {
    color: #c3c3c3;
}

.nav-flex {
    height: 100%;
    float: right;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-box {
    width: 100px;
    height: 75%;
    margin: 5px 10px 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #c3c3c3;
    border-radius: 35px;
    background-color: #28231d;
    color: #c3c3c3;
}

.nav-box:hover {
    border-color: white;
    color: white;
}

/* HOME PAGE STYLES */

.title-text {
    margin-left: 50px;
    color: #28231d;
}

.img-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.home-img-box {
    height: 220px;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #28231d;
    text-align: center;
    background-color: #c3c3c3;
}

.home-img {
    width: 125px;
    margin-top: 6px;
}

/* Filter-Bar STYLES */

.filter-bar-center-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.filter-bar-container {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #0492c2;
    border-style: solid;
    border-color: #c3c3c3;
    border-width: 3px;
    border-radius: 10px;
    margin: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 90%;
}

.filter-bar-box {
    padding: 15px;
    margin: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #28231d;
}

.filter-subflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.filter-subflex button {
    width: 120px;
    height: 50px;
    margin-top: 25px;
}

.filter-bar-box form {
    margin-bottom: 30px;
    border-style: solid;
    border-color: #fffff2;
    border-width: 3px;
    padding: 10px;
    border-radius: 25px;
    background-color: #fffff2;
    margin-top: 0px;
}

#search-input {
    width: 300px;
    height: 30px;
    border-style: solid;
    border-color: #28231d;
    border-width: 3px;
    border-radius: 20px;
}

.search-bar-box {
    margin-bottom: 15px;
}

.label-form {
    font-size: 20px;
    margin-left: 5px;
}

#submit-btn {
    margin: 10px;
    padding: 10px;
    background-color: #0492c2;
    border-color: #fffff2;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    width: 80px;
    color: #28231d;
    font-weight: 700;
}

#submit-btn:hover {
    color: #fffff2;
}

/* BOOK DISPLAY STYLES */

.book-container {
    margin-left: 20px;
    margin-right: 20px;
}

.book-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.book-box {
    border-style: solid;
    border-color: #28231d;
    border-width: 3px;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    background-color: #c3c3c3;
}

.book-title {
    margin-bottom: 5px;
}

.book-info-flex {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.book-info-box {
    margin-top: 0px;
    margin-right: 20px;
}

.book-display-img {
    width: 80px;
}

.book-box-btn {
    border-style: solid;
    border-color: #28231d;
    border-width: 2px;
    background-color: #fffff2;
}

.book-box-btn:hover {
    border-color: white;
}

.book-wiki-btn {
    float: left;
}

.book-cart-btn {
    float: right;
}

/* FOOTER STYLES */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    background-color: #dddddd;
    border-style: solid;
    border-color: #28231d;
    border-width: 3px;
}

#quote {
    margin-left: 0px;
}

#quotation {
    margin-top: 0px;
    margin-left: 0px;
}

#foot-line {
    margin-right: 50px;
    text-align: center;
}

#foot-line-top {
    margin: 0px;
}

.footer-img {
    width: 100%;
    height: 100%;
}

.footer-img-box {
    width: 1400px;
    height: 400px;
    border-style: solid;
    border-color: #28231d;
    border-width: 3px;
    background-color: #c3c3c3;
    text-align: center;
}
